# Example environment variables (NE PAS COMMITTER de vraies valeurs)
# Remplissez vos tokens/localement puis ajoutez un vrai `.env` ignoré par Git
GHCR_USERNAME=
GHCR_TOKEN=
DOCKERHUB_USER=
DOCKERHUB_TOKEN=
BENTOML_API_KEY=
NGROK_AUTHTOKEN=
